<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="about content">
                <h2>404</h2>
                <p>content aj s,fndsz dfoeks dous laHFDSLUF ;OEWJL RLEIU LFHSDAJF ADSF LKSADF,M </p>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>